body {
	margin-top: 100pt;
}

#myContactsList {
	width: 100%;
	background: #fff;
	list-style: none;
	border-bottom: none;
}

#myContactsList li {
	height: 50pt;
}

.li_container {
	width: 100%;
	height: 100%;
	background: #fff;
	box-sizing: border-box;
	border-bottom: thin solid #f2f2f2;
}

#myContactsList .li_left,.li_mid,.li_right {
	background: #fff;
	position: relative;
	height: 100%;
	float: left;
	box-sizing: border-box;
}

#myContactsList .li_left {
	width: 15%;
}

#myContactsList .li_mid {
	width: 55%;
	padding: 8pt 3pt;
	color: #000;
}

#myContactsList .li_right {
	width: 30%;
}

#myContactsList .li_circ {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 30pt;
	height: 30pt;
	background: #d2d2d2;
	border-radius: 50%;
}

#myContactsList .li_circ img {
	border-radius: 50%;
	width: 100%;
}

#myContactsList .li_contactNameDiv {
	position: relative;
	color: #333;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
	height:50%;
}
#myContactsList .li_contactName{
	display: block;
	position: absolute;
	bottom: 0;
}

#myContactsList .li_contactNrDiv {
	height:50%;
}

#myContactsList .txt_grey {
	color: #9b9b9b;
}

/* li_right */
#myContactsList .li_btn {
	position: absolute;
	top: 0;
	bottom: 0;
	right:3pt;
	border: none;
	width: 50pt;
	height: 20pt;
	margin: auto;
	color: white;
	font-size: medium;
	box-shadow: 0 0 2pt 0 #777;
	padding: 0 2pt;
}

#myContactsList a.li_btn {
	text-decoration: none !important;
	color: white !important;
	font-weight: normal !important;
	font-family: Circular Std Book, monospace, Calibri, Arial,
		Sans-serif !important;
	text-shadow: none;
	line-height: 20pt;
	text-align: center;
}

#myContactsList .li_btn:focus {
	outline: none;
}

#myContactsList .li_btn:active {
	background: #4CAF50;
}

#myContactsList .invite{
	background: #20a623;
}

#myContactsList .visit{
	background: #006dfe;
}