.content_box1 {
	position: relative;
	height: 120pt;
	margin: auto;
	border: thin solid #eee;
	line-height: 100%;
}

.box_inner {
	box-sizing: border-box;
	padding: 15pt 0 0 10pt;
	background-color: #F3F3F3;
}

.content_box1l {
	box-sizing: border-box;
	border-right: thin solid #eee;
	width: 50%;
	height: 55%;
	float: left;
}

.content_box1r {
	width: 50%;
	height: 55%;
	float: right;
}

.content_box1b {
	position: absolute;
	width: 100%;
	height: 45%;
	bottom: 0;
	border: none;
	border-top: thin solid #eee;
	background-color: #F3F3F3;
	line-height: 100%;
}

.content_box1b_icon {
	position: relative;
	float: left;
	height: 54pt;
	width: 54pt;
}

.content_box1b_icon img {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.box_text {
	font-size: medium;
	font-weight: normal;
	margin: 5pt;
}


.search {
	margin-top: 10pt;
	line-height: 34pt;
	background-color: #F3F3F3;
	width: 75%;
	float: left;
	outline: none;
	box-shadow: none;
	border: none;
}

input.search:focus {
	outline: none;
}


footer ul li {
	position: relative;
	height :40pt;
	background: white;
}

footer ul li img{
	position:absolute;
	bottom:0;top:0;
	left:0;right:0;
	margin:auto;
	height:30pt;
}

.footer_active {
	background: #eee;
}