.logodiv_top_right {
	position: absolute;
	top: 10pt;
	right: 10pt;
	border-radius: 50%;
	width: 60pt;
	height: 60pt;
	background: white;
	color: #999;
	font-size: 12pt;
	text-align: center;
	line-height: 60pt;
}

.logodiv_top_right img{
	width:100%;
	height:100%;
	border-radius: 50%;
}
.logodiv_left img{
	width:100%;
	height:100%;
	border-radius: 50%;
}

.space_btn {
	width: 90%;
	margin: auto;
	margin-top: 5pt;
	min-height: 40pt;
}

#sublink{
	font-size: small;
}

.btn_single_project_donate {
	position: absolute !important;
	width: 120pt !important;
	right: 5% !important;
	background: #20a623 !important;
	color: white !important;
	padding: 10pt !important;
	font-size: large !important;
	outline: none !important;
	text-align:center;
	text-decoration:none;
	border: none;
}

.btn_single_project_donate:active {
	background: #4CAF50 !important;
}

.ingress {
	margin: 0;
	padding: 0;
}

#project_title{
	display:block;
	font-size:x-large;
	font-weight: bold;
}

.project_city, .project_country{
	font-size:small;
}

