@font-face {
	font-family: CircularBook;
	src: local(CircularStd-Book);
}

@font-face {
	font-family: CircularBook;
	src: local(CircularStd-Bold);
	font-weight: bold;
}

* {
	font-family: CircularBook, Circular Std Book, Calibri, Arial,
		Sans-serif !important;
	margin: 0;
	padding: 0;
	text-shadow: none !important;
}
