#donationRecieverInfo{
	font-size: x-large;
}

#donationRecieverInfo .orgName{
}

#donationRecieverInfo .placeholderOrg,#donationRecieverInfo .placeholderProject{
	position: absolute;
	font-size: x-small;
	top:-6pt;
}

#donationRecieverInfo .projectName{     /* fallback */
}

#page_donate table{
	width: 100%;
	background:#fafafa;
}
#page_donate table tr td {
	height: 40pt;
}

#page_donate table tr td input {
	line-height: 25pt;
}

#page_donate input[type="radio"] {
	display: none;
}

#page_donate .ui-radio label {
	height: 20pt;
	line-height: 26pt;
	padding-left: 35pt;
}

#page_donate .ui-radio .ui-btn.ui-radio-off:after {
	background: #fafafa;
	width: 15pt;
	height: 15pt;
	border: 2px solid #6E7983;
}
.ui-radio .ui-btn.ui-radio-on:after {
	color: #006dfe;
	width: 15pt;
	height: 15pt;
	border: 0;
}

#page_donate .ui-radio .ui-btn.ui-radio-off {
	background: #fafafa;
	outline: none !important;
	border: none !important;
}

#page_donate .ui-radio .ui-btn.ui-radio-on {
	outline: none !important;
	border: none !important;
}


#page_donate .input_underscored {
	width: 100%;
	box-shadow: none;
	/* 	-webkit-border-radius: 3pt; */
	border: none;
	border-bottom: thin solid #d2d2d2;
	background: #fafafa;
	box-shadow: none;
}

#page_donate .input_underscored:FOCUS {
	outline: none;
}

#page_donate .btn_complete_donation {
	/*
	position: absolute !important;
	width: 120pt !important;
	right: 5% !important;
	padding: 10pt !important;
	font-size: large !important;
	*/
	background: #20a623 !important;
	color: white !important;
	outline: none !important;
	text-align: center;
	text-decoration: none;
	border: none;
	font-weight: normal !important;
}

/* Challenge  */

#page_donate_challenge *{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

#chall-content-left{
	position: relative;
	float:left;
	width:50%;
	height:100%;
}

#chall-content-left *{
	width:95%;
	margin:auto;
}

#chall-content-donationinfo{
	padding:10pt;
	background: #eee;
}

#chall-content-msginfo{
	padding:5pt;
	background:#eee;

}

#chall-content-right{
	position: relative;
	float:left;
	width:50%;
	border-left: thin solid #d2d2d2;
}

#chall-content-listdiv {
	max-height:180pt;
	width:95%;
	margin:auto;
	overflow-y: scroll;
}

#chall-content-listdiv ul{
	padding:10pt 0;
}

#chall-content-listdiv li{
	height:40pt;
	border-bottom: thin solid #d2d2d2;
}

.chall_li_container{
	position:relative;
	width:100%;
}

.chall_li_name{
	width: 85%;
	float:left;
	line-height: 40pt;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
.chall_li_cb{
	position: relative;
	width: 15%;
	float:left;
	background: green;
}

.chall_li_cb input[type='checkbox'] {
  position: absolute;
  left: 0; top: 15pt;
  margin: auto;
  transform: scale(1.4);
}

#chall-content-textareadiv{
	position: relative;
	width:95%;
	margin:auto;
	border:thin solid blue;
}

#chall-content-textareadiv textarea{
	width:95%;
	margin:5pt auto;
}

#chall-btns{
	position: relative;
	width:100%;
}

#chall-btns table{
	background: inherit;
}