#header_div{
	position: relative;
}

#donationRecieverInfo{
	position: absolute;
	right: 0; bottom:0;
	line-height: normal;
	margin-right: 25pt;
}

#donationRecieverInfo .projectName{
	color:pink;
}

#donationRecieverInfo .orgName{
	color: orange;
}


#page_donate table{
	width: 100%;
	background:#fafafa;
}
#page_donate table tr td {
	height: 40pt;
}

#page_donate table tr td input {
	line-height: 25pt;
}

#page_donate input[type="radio"] {
	display: none;
}

#page_donate .ui-radio label {
	height: 20pt;
	line-height: 26pt;
	padding-left: 35pt;
}

#page_donate .ui-radio .ui-btn.ui-radio-off:after {
	background: #fafafa;
	width: 15pt;
	height: 15pt;
	border: 2px solid #6E7983;
}
.ui-radio .ui-btn.ui-radio-on:after {
	color: #006dfe;
	width: 15pt;
	height: 15pt;
	border: 0;
}

#page_donate .ui-radio .ui-btn.ui-radio-off {
	background: #fafafa;
	outline: none !important;
	border: none !important;
}

#page_donate .ui-radio .ui-btn.ui-radio-on {
	outline: none !important;
	border: none !important;
}


#page_donate .input_underscored {
	width: 100%;
	box-shadow: none;
	/* 	-webkit-border-radius: 3pt; */
	border: none;
	border-bottom: thin solid #d2d2d2;
	background: #fafafa;
	box-shadow: none;
}

#page_donate .input_underscored:FOCUS {
	outline: none;
}

#page_donate .btn_single_project_donate {
	position: absolute !important;
	width: 45% !important;
	right: 5% !important;
	background: #20a623 !important;
	color: white !important;
	padding: 10pt !important;
	font-size: large !important;
	outline: none !important;
	text-align:center;
	text-decoration:none;
	border: none;
}

#page_donate .btn_single_project_donate:active {
	background: #4CAF50 !important;
}