#page_search_friends_sharity .content_box{
	position: relative;
	margin: auto;
	border: thin solid #eee;
	line-height: 40pt;

}

#page_search_friends_sharity .content_box_search {
	height: 55pt;
	bottom: 0;
	border: none;
	background-color: #F3F3F3;
	line-height: 100%;
	
}

#page_search_friends_sharity li{
	height: 50pt;
}

#page_search_friends_sharity #user_list{
	list-style: none;
}
/*
#page_search_friends_sharity a{
	position:absolute;
	top:0;bottom:0;
	right:0;
	margin:auto;
	font-size: small;
	height:12pt;
}
*/

#page_search_friends_sharity .li_container{

	width:100%;
}

#page_search_friends_sharity .li_left, #page_search_friends_sharity  .li_right, #page_search_friends_sharity .li_mid{
	position: relative;
	height:100%;
	float:left;
}

#page_search_friends_sharity  .li_left{
	width: 20%;

}

#page_search_friends_sharity .li_mid{
	width: 56%;
	padding:7pt 0;
	overflow: hidden ;
	text-overflow:ellipsis;
	white-space: nowrap;
}

#page_search_friends_sharity .li_right{
	position:relative;
	width: 24%;
	font-size: small;
	line-height: 18pt;
	color:white;
}

#page_search_friends_sharity .li_right_tophalf{
	background: #006dfe;
	height:45%;
	margin-top: 5%;
	text-align: center;
	line-height: 22pt;
	font-size: small;
	font-weight: normal;
}

#page_search_friends_sharity .li_right_bottomhalf{
	background: #20a623;
	height:45%;
	text-align: center;
	line-height: 22pt;
	font-size: small;
	font-weight: normal;

}
/*
#page_search_friends_sharity .li_right_center{
	position:absolute;
	top:0;bottom:0;
	left:0;	right:0;
	margin:auto;
	background: #20a623;
	height:20pt;
	text-align: center;
	line-height: 22pt;
	font-size: small;
	font-weight: normal;
}
*/

#page_search_friends_sharity .li_name{
	font-size: large;
	color:#333;
}

#page_search_friends_sharity .li_email{
	font-size: small;
	font-weight: normal;
	color:#9b9b9b;
}

/* li_right */
#page_search_friends_sharity .li_btn_donate {
	position: absolute;
	top: 0;
	bottom: 0;
	right:0;
	border: none;
	width: 70pt;
	height: 20pt;
	margin: auto;
	background: #20a623;
	color: white;
	font-size: small;
	box-shadow: 0 0 2pt 0 #777;
}

#page_search_friends_sharity a.li_btn_donate {
	text-decoration: none !important;
	color: white !important;
	text-shadow: none;
	line-height: 20pt;
	text-align: center;
}

#page_search_friends_sharity .li_btn_donate:focus {
	outline: none;
}

#page_search_friends_sharity .li_btn_donate:active {
	background: #4CAF50;
}

#page_search_friends_sharity img{
	max-height: 100%;
	max-width: 100%;
}

footer ul li{
	max-height: 40pt !important;
}


.addbtn{
	background: #006dfe;
	width:58pt;
	height:19pt;
	line-height: 19pt;
	text-align: center;
	border-radius: 3pt;
	color:white !important;
	position:absolute;
	top:0;bottom:0;
	right:0;
	margin:auto;
	border:thin solid #d2d2d2;
}