

.green{
	color: #20a623;
}

#header_div {
	width: 100%;
	height: 90pt;
	line-height: 65pt;
	background: #006dfe;
	color: white;
}


.header_div h2 {
	color: white;
	margin-left: 5%;
}

#header_div p {
	margin-left: 50pt;
	color: white;
	font-size: x-large;
}

.add_friend_icon {
	position: absolute;
	width: 25pt;
	height: 25pt;
	margin-top: 20pt;
	right: 10pt;
}

.menu_icon {
	position: absolute;
	width: 25pt;
	height: 25pt;
	margin-top: 20pt;
	margin-left: 10pt;
}

.boxshadow {
	box-shadow: 0pt 0pt 1pt #888;
}

.header_top {
	width: 100%;
	height: 25pt;
	background-color: #0057cb;
}

.somespace {
	min-height: 20pt;
}

footer ul li {
	position: relative;
	height :40pt;
	background: white;
}

footer ul li img{
	position:absolute;
	bottom:0;top:0;
	left:0;right:0;
	margin:auto;
	height:30pt;
}


.footer_active {
	background: #eee;
}
