#page_org_statistics .content_box1 {
	position: relative;
	height: 120pt;
	margin: auto;
	border: thin solid #eee;
	line-height: 100%;
}


#page_org_statistics .content_box1l {
	box-sizing: border-box;
	border-right: thin solid #eee;
	width: 50%;
	height: 55%;
	float: left;
}

#page_org_statistics .content_box1r {
	width: 50%;
	height: 55%;
	float: right;
}

#page_org_statistics .content_box_top {
	position: relative;
	text-align: center;
	height: 60%;
	font-size: 30pt;
	line-height: 40pt;
}

#page_org_statistics .content_box_bottom {
	position: relative;
	text-align: center;
	height: 40%;
}

.greyline {
	width: 100%;
	margin: 5pt 0 5pt 0;
	border-bottom: thin solid #d2d2d2;
}

#page_org_statistics section span{
	display:block;
	margin-left:5%;
}
#page_org_statistics .number{
	font-weight: bold;
}

#statsTable table{
	background:#eee ;
}

#statsTable table td{
	height:60pt;
	border:thin solid #9b9b9b;
}