.above_main_content{
	position:relative;
}


.top_links {
	width: 60%;
	margin-left: 40%;
}

.footer_menu_icon {
	width: 100%;
}

.main_content {
	width: 90%;
	margin: auto;
	margin-top: 30pt;
}

.btn_organization_donate {
	position: absolute !important;
	top:20pt;
	width: 45% !important;
	right: 5% !important;
	background: #20a623 !important;
	color: white !important;
	padding: 10pt !important;
	font-size: large !important;
	outline: none !important;
	text-align:center;
	text-decoration:none;
	border: none;
}


.ingress {
	margin: 0;
	padding: 0;
}

.clickable:ACTIVE {
	background: #eee;
}

.footer_menu_icon_holo {
	background: white;
	width: 99%;
}

.footer_active {
	background: #eee;
}
