.logodiv_top_right {
	position: absolute;
	top: 10pt;
	right: 10pt;
	border-radius: 50%;
	width: 60pt;
	height: 60pt;
	background: white;
	color: #999;
	font-size: 12pt;
	text-align: center;
	line-height: 60pt;
}

.space_btn {
	width: 90%;
	margin: auto;
	margin-top: 5pt;
	min-height: 40pt;
}
.btn_single_project_donate {
	position: absolute !important;
	width: 45% !important;
	right: 5% !important;
	background: #20a623 !important;
	color: white !important;
	padding: 10pt !important;
	font-size: large !important;
	outline: none !important;
	text-align:center;
	text-decoration:none;
	border: none;
}

.btn_single_project_donate:active {
	background: #4CAF50 !important;
}



.portrait {
	position: relative;
	width: 100%;
	height: 150pt;
	background-color: #d2d2d2;
	color: white;
	line-height: 150pt;
	text-align: center;
}

.ingress {
	margin: 0;
	padding: 0;
}
