#page_settings #div_logout{
	position: relative;
	width:80pt;
	float:right;
	margin-right: 5pt;
	position: relative;
	height:66pt;
}
#div_logout button{
	position: absolute;
	top:0;bottom:0;
	margin:auto;
	width:70pt;
	height:30pt;
	outline: none;
	border:none;
	background: white;
	font-size: large;
	padding:0;
}


.greyline {
	width: 100%;
	margin: 20pt 0 20pt 0;
	border-bottom: thin solid #d2d2d2;
}

#subscription_message, #num_friend_req{
	font-size: small;
}

#page_settings .listdiv{
	margin-top:15pt;
}

#num_friend_req{
	display:block;
	margin-bottom: 15pt;
}

#subscription_list li,#friend_requests li{
	height: 50pt;
	border-bottom: thin solid #d2d2d2;
	list-style: none;
}

#subscription_list .li_container{
	height:50pt;
}

#subscription_list .li_left, #subscription_list .li_mid, #subscription_list .li_right,#friend_requests .li_left, #friend_requests .li_mid, #friend_requests .li_right{
	background: white;;
	position: relative;
	height:50pt;
	box-sizing: border-box;
	float:left;

}

#subscription_list .li_left,#friend_requests .li_left{
	width:15%;
}

#subscription_list .circlegrey,#friend_requests .circlegrey{
	position: absolute;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	height:27pt;
	width: 27pt;
	border-radius: 50%;
	background: #9b9b9b;
	color:white;
	line-height: 35pt;
	font-size: small;
	text-align: center;
}

#friend_requests .li_mid{
	width: 60%;
	overflow:hidden;
	white-space: nowrap;
	text-overflow:ellpisis;
}

#subscription_list .li_mid{
	width: 65%;
}

#subscription_list .li_mid .projectNameDiv{
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
	height:50%;
}

#subscription_list .projectNameDiv .projectName{
	position: absolute;
	display: block;
	bottom:0;
}

#subscription_list .li_mid .dateAddedDiv{
	position: relative;
	height:50%;
}

#friend_requests .li_right{
	position:relative;
	width: 25%;
}
#friend_requests .li_right button{
	position: absolute;
	right:0;
	width:50pt;
	height: 16pt;
	color:white;
	font-size: small;
	border:thin solid #9b9b9b;
}

#friend_requests .btn_deny{
	bottom:3pt;margin:auto;
	background:#f63218;
}
#friend_requests .btn_accept{
	top:3pt;margin:auto;
	background :#20a623;
}




#subscription_list .li_right{
	width: 20%;
	text-align: center;
	line-height: 40pt;
}

#subscription_list a{
	font-size: small;
}

.li_l{
	position: relative;
	float:left;
	width:20%;
	height:100%;
}

.li_r{
	float:right;
	width:80%;
	height:100%;

}
.li_r_top{
	height:50%;
	line-height: 25pt;

}
.li_r_bottom{
	position:relative;
	height:50%;
}

.confirm{
	float:left;
	width:90pt;
	height:19pt;
	background: #006dfe;
	opacity: 0.8;
	color:white;
	border:none;
	border-radius: 3pt;
}

.dismiss{
	float:right;
	width:90pt;
	height:19pt;
	background: inherit;
	border:thin solid #d2d2d2;
	border-radius: 3pt;
}

#messagediv{
	margin-top: 10pt;
	height:20pt;
	line-height: 20pt;
	text-align: center;
	color:#333;
}

#messagetext{
	background:#F58071;
	border-radius: 3pt;
}